.container-gallery1{
		.gallery1{
		color: black;
		margin: 0 auto;
		max-width: 900px;
		padding: 50px;
		position: relative;
		top: 100px;
		text-align: center;
		h2, h1{
			display: inline;
			// font-size: 28px;
			font-weight: 700;
			text-align: center;
			text-decoration: none;
		}
		.mainGallery1{
			font-weight: 300;
			letter-spacing: 2px;
			line-height: 20px;
			margin-bottom: 200px;
			text-align: justify;
			h1{
				display: inline;
				font-size: 16px;
				font-weight: 300;
			}
			p{
				display: inline;
				font-size: 16px;
			}
			.hubungikami{
				font-size: 26px;
				line-height: 50px;
				list-style: none;
				text-align: center;
			}
		}
	}
}

//on mobile
@media all and (max-width:480px){
	.gallery1{
		.mainGallery1{
			letter-spacing: 1px !important;
			line-height: 25px !important;
		}
	}
}

//on mobile landscape
@media all and (min-width:560px) and (max-width:760px){

}

//On Tablet
@media only screen and(min-width: 768px) and(max-width: 989px){

}

//iPad Lanscape & iPad Pro
@media all and (min-width: 777px) and (max-width:1024px){

}