.homecontact{
	background-color: black;
	color: #f0e4cd;
	height: 100px;
	position: relative;
	.contactaddress{
		font-weight: 700;
		line-height: 19px;
		position: relative;
		top: 15px;
		// left: 180px;
		margin : 0 auto;
		text-align: center;
	}
	.copyright{
		font-family: Serif;
		font-size: 12px;
		margin: 0 auto;
		position: absolute;
		bottom: 15px;
		left: 3%;
		width: 220px;
		a{
			color: #f0e4cd;
			text-decoration: none;
		}
	}
	.contactmedsos{
		.sosmed{
		  height: auto;
		  position: absolute;
		  bottom : 15px;
		  right : 150px; 
		}
		.wrapfb{
		  display: inline-block;
		  height: 60px;
		  width: 60px;
		  padding: 0;
		  .fb{
		    background-color: white;
		    display: block;
		    width: 40px;
		    height: 40px;
		    border-radius: 30px;
		    box-sizing: border-box;
		    margin: 20% auto;
			    &:hover{
			    	background-color: black;
			    }
		    img{
		      margin: 5.1px;
		    }
		  }
		}
		.wrapig{
		  display: inline-block;
		  height: 60px;
		  width: 60px;
		  padding: 0;
		  .ig{
		    background-color: white;
		    display: block;
		    width: 40px;
		    height: 40px;
		    border-radius: 30px;
		    box-sizing: border-box;
		    margin: 20% auto;
		    &:hover{
				background-color: black;
		    }
		    img{
		    	border-radius: 10px;
		      	margin: 5.1px;
		    }
		  }
		}
	}
	.buttonhome{
		img{
			position: fixed;
		  	bottom : 50px;
		  	right : 80px; 
			height: 50px;
			width: 50px;
			z-index: 3;
			&:hover{
				background-color: rgb(250,250,210);
				border-radius: 30px;
			}
		}
	}	
}

#map{
	height:400px;
	background: white;
	position: relative;
}

//on mobile
@media all and (max-width:480px){
	.homecontact{
		font-size: 12px;
		.contactaddress{
			line-height: 14px;
			position: relative;
			top: 15px;
			left: 0px;
		}
		.copyright{
			font-size: 8px;
			position: absolute;
			bottom: 5px;
			left: 8%;

		}
		.contactmedsos{
			.sosmed{
			  position: absolute;
			  bottom : 5px;
			  right : 10px; 
			}
			.wrapfb{
			  height: 30px;
			  width: 30px;
			  .fb{
			    width: 30px;
			    height: 30px;

			    img{
			      margin: 0.8px;
			    }
			  }
			}
			.wrapig{
			  .ig{
			    width: 30px;
			    height: 30px;

			    img{
			    	border-radius: 20px;
			      	margin: 0.8px;
			    }
			  }
			}
		}
		.buttonhome{
			img{
				position: fixed;
			  	bottom : 40px;
			  	right : 30px; 
				z-index: 3;
			}
		}	
	}
}

//on mobile landscape
@media all and (min-width:560px) and (max-width:760px){
	.homecontact{
		font-size: 12px;
		.contactaddress{
			line-height: 14px;
			position: relative;
			top: 15px;
			left: 0px;
		}
		.copyright{
			font-size: 8px;
			position: absolute;
			bottom: 5px;
			left: 8%;

		}
		.contactmedsos{
			.sosmed{
			  position: absolute;
			  bottom : 5px;
			  right : 10px; 
			}
			.wrapfb{
			  height: 30px;
			  width: 30px;
			  .fb{
			    width: 30px;
			    height: 30px;

			    img{
			      margin: 0.8px;
			    }
			  }
			}
			.wrapig{
			  .ig{
			    width: 30px;
			    height: 30px;

			    img{
			    	border-radius: 20px;
			      	margin: 0.8px;
			    }
			  }
			}
		}
		.buttonhome{
			img{
				position: fixed;
			  	bottom : 40px;
			  	right : 30px; 
				z-index: 3;
			}
		}	
	}
}

//On Tablet
@media only screen and(min-width: 768px) and(max-width: 989px){
	.homecontact{
		.contactaddress{
			position: absolute;
			top: 15px;
			left: 80px;
		}
		.copyright{
			font-size: 7px;
			position: absolute;
			bottom: 15px;
			left: 50%;
		}
	
	}
}

//iPad Lanscape & iPad Pro
@media all and (min-width: 777px) and (max-width:1024px){
	.homecontact{
		.copyright{
			font-size: 12px;
		}
		
	}
}