.container{
	margin-top: 30px;
	margin-bottom: 90px;
	.container-fluid{
		.gallery{
			padding: 10px;
			padding-top: 50px;
			margin: 25px 0px;
			img{
					padding: 0px;
				   -webkit-filter: grayscale(0%);
				   -moz-filter: grayscale(0%);
				   filter: grayscale(0%);
				   transition: all 1s ease;
				}

			&:hover{
				img{
					filter: grayscale(1);
				    animation: mymove 0.5s ease;
					/* Safari 4.0 - 8.0 */
					@-webkit-keyframes mymove {
					    0%   {padding-left: 0%; padding-right: 0%;}
					    50%  {padding-left: 50%; padding-right: 50%}
					    100% {padding-left: 0%; padding-right: 0%;}
					}

					/* Standard syntax */
					@keyframes mymove {
					    0%   {padding-left: 0%; padding-right: 0%;}
					    50%  {padding-left: 50%; padding-right: 50%}
					    100% {padding-left: 0%; padding-right: 0%;}
					}
				}
				.galleryTittle{
					background-color: rgba(0,0,0,0.8);
					a{
						color: grey;
						text-decoration: none;	
					}
				}
		    }
			.galleryTittle{
				background-color: rgba(0,0,0,0.5);
				color: white;
				position: absolute;
				bottom: 0px;
				padding-top: 25px;
				font-weight: 700;
				text-align: center;
				min-height: 100px;
				width: 100%;
				z-index: 0;
				h1, .nama{
					font-weight: 700;
					font-size: 18px;
					display: inline;
				}
				p{
					display: inline;
					font-size: 18px;
				}
				h2, .harga{
					font-size: 24px;
					font-weight: 700;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				h5, .asal{
					font-size: 12px;
					margin-top: 5px;
				}
			}
			.galleryTittle1{
				font-size: 18px;
				a{
					color: white;
						&:hover{	
						color: white;
						text-decoration: none;
						}
				}
			}
		}
	}
}

//on mobile
@media all and (max-width:480px){
	.container{
		.container-fluid{
			.gallery{
				padding: 0px;
				img{
					width: 100%; 
					height: 350px;
				}
			}
		}
	}
}

//on mobile landscape
@media all and (min-width:560px) and (max-width:760px){
	.container{
		.container-fluid{
			.gallery{
				padding: 0px;
				img{
					width: 100%; 
					height: 350px !important;
				}
			}
		}
	}
}

//On Tablet
@media only screen and(min-width: 768px) and(max-width: 989px){

}

//iPad Lanscape & iPad Pro
@media all and (min-width: 777px) and (max-width:1024px){

}