.mainnavbar{
	background-color: rgba(0,0,0,0.8);
	display: block;
	height: 80px;
	position: fixed;
	box-sizing: border-box;
	left: 5vw;
	top: 0px;
	margin: 0 auto;
	width: 90vw;
	z-index: 1000;
	.logo{
		position: absolute;
		left: 0px;
		padding: 0px;
		img{
			background-color: black;
			padding: 5px;
			width:80px; 
			height:80px;
			&:hover{
				background-color: rgba(250,250,210,0.8);
			}
		}
	}
	ul#listMenu{
		letter-spacing: 2px;
		line-height: 35px;
		max-width: 1366px;
		margin: 0 auto;
		padding-left: 40%; 
		li{
			display: inline-block;
			width: auto;
			-webkit-transition: background-color 1s;
			transition: background-color 1s;
			a{
				color: white; 
				font: Arial;
				font-size: 16px;
				font-weight: 700;
				height: 1000px;
				padding: 22px 55px;
				position: relative;
				top: 23px;
				text-decoration: none;
			}
		}
		li:hover{
			a:hover{
				background-color: white;
				color: black;
			}
		}
	}
}

//on mobile
@media all and (max-width:480px){
	.mainnavbar{
		height: 60px;
		position: fixed;
		left: 0vw;
		top: 0px;
		margin: 0 auto;
		width: 100%;
		z-index: 1000;
		.logo{
			position: absolute;
			left: 0px;
			padding: 0px;
			img{

				width:60px; 
				height:60px;

			}
		}
		ul#listMenu{
			line-height: 13px;
			letter-spacing: 1.5px;
			padding-left: 30%;
			li{
				a{
					font-size: 12px;
					padding: 22px 5px;
				}
			}
		}
	}	
}

//on mobile landscape
@media all and (min-width:560px) and (max-width:760px){
	.mainnavbar{
		height: 60px;
		position: fixed;
		left: 5vw;
		top: 0px;
		z-index: 1000;
		.logo{
			img{

				width:60px; 
				height:60px;
			}
		}
		ul#listMenu{
			line-height: 13px;
			letter-spacing: 1.5px;
			padding-left: 30%;
			li{
				a{
					font-size: 14px;
					padding: 22px 25px;
				}
			}
		}
	}
}

//On Tablet
@media only screen and(min-width: 768px) and(max-width: 989px){
	.mainnavbar{
		ul#listMenu{
			li{
				a{
					padding: 22px 15px;
				}
			}
		}
	}	
}

//iPad Lanscape & iPad Pro
@media all and (min-width: 777px) and (max-width:1024px){
	.mainnavbar{
		ul#listMenu{
			li{
				a{
					padding: 22px 35px;
				}
			}
		}
	}	
}