//Carousel
.glyphicon-chevron-left, .glyphicon-chevron-right{
	visibility: hidden;
}

.carousel{
	// margin-top: 80px;
	width: 100vw;
}

.carousel-inner{
	.item{
		position: relative;
		img{
			width: 100%;
			height: 680px;
			z-index: 1;
		}
		.tittle{
			color: black;
			background-color: rgba(250,250,210,0.5);
			border-radius: 50px;
			padding: 30px;
			max-width: 600px;
			position: absolute;
			bottom: 70px;
			right: 75px;
			h1, h2{
				display: inline;
				color: rgba(0,0,0,0.8);
				font-family: 'Source Code Pro', monospace;
				font-family: 'Indie Flower', cursive;
				font-family: 'Roboto Mono', monospace;
				font-size: 48px;
				font-style: oblique;
				font-weight: 500;
				line-height: 50px;
				text-align: center;
			}
		}
	}
}

//on mobile
@media all and (max-width:480px){
	.carousel-inner{
		.item{
			img{
				height: 600px;
				width: 100%;
			}
			.tittle{
				h1, h2{
					font-size: 24px !important;
					line-height: 30px;
				}
			}
		}
	}
}

//on mobile landscape
@media all and (min-width:560px) and (max-width:760px){
	.carousel-inner{
		.item{
			img{
				height: 400px;
				width: 100%;
			}
			.tittle{
				h1, h2{
					font-size: 24px !important;
					line-height: 30px;
				}
			}
		}
	}
}

//On Tablet
@media only screen and(min-width: 768px) and(max-width: 989px){
	.carousel-inner{
		.item{
			img{
				width: 100%;
			}
			.tittle{
				h1, h2{
					font-size: 34px !important;
				}
			}
		}
	}
}

//iPad Lanscape & iPad Pro
@media all and (min-width: 777px) and (max-width:1024px){
	.carousel-inner{
		.item{
			img{
				width: 100%;
			}
			.tittle{
				h1, h2{
					font-size: 36px !important;
				}
			}
		}
	}
}
