@import "../components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../components/font-awesome/web-fonts-with-css/css/fontawesome-all.css";
@import "scss/_article.scss";
@import "scss/footer.scss";
@import "scss/_home.scss";
@import "scss/_gallery.scss";
@import "scss/header.scss";

body {
  // max-width: 1366px;
  // padding: 0px 100px;
  background-color: rgb(250,250,210); //#e8e8e8; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}
