<div class="container-gallery1">
	<div class="gallery1">
		<h2>HUBUNGI KAMI :</h2> <br> <br> <br>
		<div class="mainGallery1">
			<ul class="hubungikami">
				<li><a href="https://www.facebook.com/kroto.sumberrejeki" target="_blank"><img src="/../img/fb.png" alt="www.facebook.com" style="width:50px;height:50px;"></a> @ kroto.sumberrejeki</li>
				<li><a href="https://www.instagram.com/krotosumberrejeki/?hl=id" target="_blank"><img src="/../img/ig.png" alt="www.instagram.com" style="width:50px;height:50px;"></a> @ krotosumberrejeki</li>
				<li>Telepon : +62 21-5678900</li>
			</ul>	
		</div>
	</div>
</div>