<div class="container-gallery1">
	<div class="gallery1">
		<h2>Cara Membuat Umpan Mancing Dari Kroto</h2> <br> <br> <br>
		<div class="mainGallery1">
			<h1>Kroto</h1><p> umumnya buat makanan burung, namun dapat pula buat mancing. </p><h1>Kroto</h1><p> tidak pernah terlepas dari pemancing ikan mas terlebih pada saat lomba (bukanlah galatama) adalah hal harus sebagai kombinasi umpannya. Seperti makan sayur tanpa ada garam demikianlah seperti pemancing ikan mas menggambarkannya.</p> <br> <br> 
			<h1>Kroto</h1><p> telah tak asing lagi terdengar dimata pemancing harian atau ikan mas. Larva semut rangrang ini banyak diburu pemancing saat akan bikin umpan. Sehari-hari terutama pada hari minggu </p><h1>Kroto</h1><p> laku manis bak “kacang goreng” diserang konsumen. Untuk mancing mania </p><h1>Kroto</h1><p> seperti barang yang teramat istimewa serta diperlukan.</p> <br> <br>

			<h1>Kroto</h1><p> Basah, tipe ini adalah telur serta larva semut rangrang yang baru bertelur serta mempunyai kandungan air yang tinggi hingga gampang busuk. </p><h1>Kroto</h1><p> type ini cukup disukai oleh burung serta beberapa pemancing untuk kombinasi bikin umpan. Cuma saja </p><h1>Kroto</h1><p> basah ini hanya dapat bertahan sehari. Karena itu </p><h1>Kroto</h1><p> dengan kandungan air tinggi ini baiknya disimpan didalam kulkas. </p>
			<h1>Kroto</h1><p> Halus, berbentuk semut semut pekerja kecil serta besar. Tanpa ada pengawetan, </p><h1>kroto</h1><p> ini bisa bertahan sepanjang sekian hari. Diantara beragam type </p><h1>Kroto</h1><p> , </p><h1>Kroto</h1><p> halus adalah type yang sekurang-kurangnya disenangi burung tetapi begitu disenangi pemancing. </p>
			<h1>Kroto</h1><p> Kasar, berbentuk induk semut ratu serta semut jantan. Type </p><h1>Kroto</h1><p> ini dapat juga tahan satu minggu.</p> 
			<h1>Kroto</h1><p> Kacang, berbentuk kombinasi ketiga type </p><h1>Kroto</h1><p> ditambah dengan type pakan lain seperti kacang, jagung, padi, dedak, voer, serta beras hijau. </p><h1>Kroto</h1><p> ini bisa tahan dalam satu minggu tanpa ada pengawetan.</p> <br> <br> 
			<p>Dari ketiga tipe </p><h1>Kroto</h1><p> untuk mancing di atas, yang tentu beberapa pemancing meyukai </p><h1>Kroto</h1><p> kering dengan ciri halus atau kasar. Untuk komposisi mancing lomba ikan mas umumnya memakai </p><h1>Kroto</h1><p> kering serta bersih sejumlah 3 ons, 2 ons untuk kombinasi umpan serta 1 ons untuk ditutul.</p>  <br> <br>
			<p>Baik jangan lama2 berikut kumpulan racikan ikan mas dari grub FB :</p>  <br> <br>


			<p>"Semoga kedepan beliau-beliaunya bisa hadir juga disini untuk langsung berbagi umpan2 yg pernah dipakai."</p>  <br> <br> <br>

			<b><p>1. Dari Om Aidir Umpan ikan mas di Empang Alam.</p></b> <br> <br>
			<p>Kalau saya kemarin coba empang alam. Dapat banyak ikan mas cuma pake</p> <br>	
			<p>- Putih telur 2</p> <br>
			<p>- Susu dancow</p> <br>
			<p>- vanilli</p> <br>
			<p>- Energen vanila</p> <br> <br> 

			<p>Semua diaduk lalu dikukus pake pandan 1 helai kurang lebih sampai agak menguras 15-20 menit lah..</p> <br> 
			<p>Lalu diaduk campur deho+ </p><h1>Kroto</h1><p> setengah ons cukup..</p> <br> 

			<p>Hasil blm pernah kosong..</p> <br> <br> <br>

			{{!-- //--------------------------------------------------------- --}}
			<b><p>2.Umpan Ikan Mas di Kolam.</p></b> <br> <br>

			<p>bahan  umpan :</p> <br>
			<p>- ikan tuna 1/4. biasa nya di jual di warung sayur sdh berbentuk  bilahan-bilahan, </p> <br>
			<p>- Kinoi secukup nya,</p> <br>
			<p>- 1 telor asin matang ambil kuning nya  saja,</p> <br>
			<p>- Essense jagung bakar 5 tetes,</p> <br>
			<p>- Untuk 1 ronde, essense daging kiki riri 3 tetes,untuk 1 ronde, <h1>Kroto</h1>    segar secukup nya.</p> <br> <br> 

			<p>Cara ngeraciknya  capur bahan umpan yg diatas.kecuali eissen nya, setelah lembut pilih  kekerasan yg di ingin kan, baru di tetesin eissen tersebut, dan jangan  lupa untuk terus di aduk supaya campur,  kalau mau tega sesama  pemancing, coba lempar nasi putih 1 kepalan. di area yang kita dudukin.  di jamin ikan nggak akan kemana-mana. utamakan beras rojolele.</p> <br> <br> <br>

			<b><p>3. Umpan Murah Meriah untuk Ikan Mas Kolam.</p></b> <br>	<br>

			<p>1/2 gelas terigu, 1 gls tepung ketan, 1/8 kelapa diparut,  1bks Dancow, 2 ekor ikan nila dikukus ambil dagingnya, 2 butir telor  bebek ambil putihnya aja, 1 vanili yg salep kalau ada, 1 ons kroto.</p> <br><p> Semua  bahan dicampur jadi satu lalu dikukus di loyang jangan lupa dialas daun  selama 20 menit. Umpan siap pakai.</p> <br><br>

			<b></p>4. Umpan Murah Meriah untuk Ikan Mas Kolam Harian / Lomba.</p></b> <br> <br>

			<p>Bahan bahan meracik umpan :</p> <br>
			<p>- Kinoy serbuk 1bungkus,</p> <br>
			<p>- Santan kara 1 kotak,</p> <br>
			<p>- Telor asin 1 butir (kuningnya saja),</p> <br>
			<p>- 1/2 kaleng tuna deho.</p> <br>
			<p>- 1 ons <h1>Kroto</h1>.</p> <br> <br>

			<p>Cara pengolahan umpan :</p> <br> 
			<p>- Kukus Ã‚Â ± 10 menit 1 ons <h1>Kroto</h1> lalu tiriskan,</p> <br>
			<p>- Tuangkan serbuk kinoy kedalam baskom,</p> <br>
			<p>- Tuangkan 1kotak santan kara + 1 kuning telor asin kedalam serbuk kinoy tadi,</p><br>
			<p>- Blender 1/2 kaleng tuna deho berikut minyaknya, lalu tuangkan tuna encer,</p><br>
			<p>- Kedalam adonan dan aduk hingga merata,</p><br>
			<p>- Setelah campuran adonan sudah merata lalu masukan </p><h1>Kroto</h1><p> yg telah dikukus tadi dan kembali diaduk hingga merata.</p><br> <br>
			<p>Nah, umpan sudah jadi dan siap digunakan.</p> <br><br><br>


			<b><p>5. Umpan Murah Meriah untuk Ikan Mas Kolam Harian / Lomba.</p></b> <br><br>

			<p>Bahan bahan meracik umpan :</p> <br><br>
			<p>- Kinoy serbuk 1bungkus,</p> <br> 
			<p>- Santan kara 1 kotak,</p> <br>
			<p>- Telor asin 1 butir (kuningnya saja),</p> <br>
			<p>- 1/2 kaleng tuna deho.</p> <br>
			<p>- 1 ons <h1>kroto</h1>.</p> <br><br>	

			<p>Cara pengolahan umpan :</p> <br><br>
			<p>- Kukus Ã‚Â± 10 menit 1 ons </p><h1>kroto</h1><p> lalu tiriskan,</p> <br>
			<p>- Tuangkan serbuk kinoy kedalam baskom,</p><br>
			<p>- Tuangkan 1kotak santan kara + 1 kuning telor asin kedalam serbuk kinoy tadi,</p><br>
			<p>- Blender 1/2 kaleng tuna deho berikut minyaknya,</p><br>
			<p>- Tuangkan tuna encer kedalam adonan dan aduk hingga merata,</p><br>
			<p>- Setelah campuran adonan sudah merata lalu masukan </p><h1>Kroto</h1><p> yg telah dikukus tadi dan kembali diaduk hingga merata.</p> <br><br>

			<p>Nah, umpan sudah jadi dan siap digunakan.</p> <br><br><br>


			<b><p>6. Umpan Kukusan untuk Ikan Mas Kolam Harian / Lomba.</p></b><br><br>

			<p>Bahan bahan meracik umpan :</p> <br><br>
			<p>- Telur bebek 2 btir ambil putih saja,</p><br>
			<p>- Susu dancow 1 sdk,</p><br>
			<p>- Santan kara 3 sdk,</p><br>
			<p>-  </p><h1>Kroto</h1><p> 1 ons,</p><br>		
			<p>- Ikan betok sebesar 3 jari,</p><br><br>
			
			<p> Cara membuat umpan:</p><br><br>
			<p>- Campur semua bahan kecuali ikan masukan dalam plastik kiloan kukus 15 mnt,</p> <br>
			<p>- Setelah matang buka plastik dan dinginkan,</p> <br>
			<p>- Rebus ikan betok 3 menit lalu tiriskan ambil dagingnya saja,</p> <br>
			<p>- Penyet2 sampai halus dalam wadah kemudian campur semua umpan kukusan tadi,</p><br>
			<p>- Aduk sampai rata lalu masukan keplastik,</p><br> 
			<p>- Pengerasnya pakai kinoy susu,</p> <br><br>
			<p>Umpan siap digunakan,</p> <br><br><br>


			<b> <p>7. Resep Umpan Mancing Ikan Mas Kolam Air Warna Hijau.</p> </b> <br><br>

			<p>Bahan bahan resep umpan buat ikan mas : </p><br><br>
			<p>- Telur ayam 5 butir ambil putihnya, </p><br>
			<p>- Jempol keju susu 1 sendok, </p><br>
			<p>- Jempol amis 1 sendok, </p><br>
			<p>- </p><h1>Kroto</h1><p>1-1 5 ons, </p><br>
			<p>- Bubuk 48 - 1 sendok, </p><br>
			<p>- Kinoy perangsang sebungkus,</p><br> 
			<p>- Vanili 1/2 bungkus, </p><br>
			<p>- Wayang kristal amis 4 sendok, </p><br>
			<p>- Daun pandan secukupnya,</p><br> <br>

			<p>Semua bahan dicampur/diblender kecuali daun pandannya dicampur setelah adonannya jd kemudian dimasukan plastik es dan direbus atau kukus selama kurang lebih 45 menit.</p> <br><br><br>


			<b> <p>8. Pelet Majalaya, Pur 511 & Indomie rasa Kare diblender jadi satu.</p> </b><br><br>

			<p>Waktu bikin umpan ditambah roti sisir dan vanili yang diseduh air panas. Diaduk sampai pulen terus dicampuri pelet super secukupnya buat aroma. Kalo ada kroto malah joss lagi tapi karena kroto mahal pake umpan ini aja dah cukup malah dulu Bandeng pun mau menyambar.</p><br><br><br>


			<b> <p>9. Resep dari om @solahudin putra sukabumi :</p> </b> <br><br>

			<p>- Cue tongkol/salem( ambil pitihnya aja) Rp 10.000,-</p><br>
			<p>- Paikin yg besar 1,</p><br>
			<p>- Katulampa wangi 1,</p><br>
			<p>- Dancow 1 sachet,</p><br>
			<p>- Telor ayam 3 pakai semua,</p><br>
			<p>- Madu asli / madu rasa original 1 sendok teh,</p><br>
			<p>- </p><h1>Kroto</h1> <p>,</p><br> 
			<p>- Air secukupnya,</p><br>
			<p>- Aduk semua bahan sampai kalis,</p><br>
			<p>- Masukan kantong plastik uk 1 kg jd 2 bungkus,</p><br>
			<p>- kukus selama 15 menit bolak balik,</p><br><br><br>


			<b> <p>10. Umpan Pake Pelet Jitu 3 Bungkus (2 Jitu Biasa & 1 Jitu Ebi) :</p> </b><br><br>

			<p>- Cue tongkol 3 batang (ukuran korek gas),</p><br>
			<p>- 3 buah biskuit nissin crakers,</p> <br><br>

			<p>Dapat 4 ekor, ngetes di kolam harian, padahal ikan galau (sortiran ikan2 yang udah luka), ane berangkat jam stngah 8 pulang jam 12 siang, dan pemancing yang lain cuma dapat 1 ekor 4 orang dan 2 ekor 1 orang, kolam empang air keruh.</p><br><br><br>


			<b> <p>11). Umpan Pakai yang Amis.</p> </b> <br><br>

			<p>- Pake deho gede,</p><br>
			<p>- Paikin merah amis,</p><br>
			<p>- Telor bebek 3 butir,</p><br>
			<p>- Tombro.</p><br>
			<p>- Jempol amis,</p><br>
			<p>- Susu dancow 1 sec,</p><br>
			<p>- Katulampa,</p><br>
			<p>- Deho,</p><br>
			<p>- Telor,</p><br>
			<p>- Susu,</p><br>
			<p>- Di blender kasih air sedikit aja, setelah d blender </p><br>
			<p>- Masukin adonan ke plastik ukuran 1 kilo,</p><br>
			<p>- Tombro di tuang/campur ke adonan yg diblender,</p><br>
			<p>- Trus di kukus bareng sm paikin merahnya,</p><br>
			<p>- Kukus smp 15 menit aja jangan lupa di balik,</p><br>
			<p>- Setelah 15 menit umpan kukus sm paikinnya d angkat,</p><br>
			<p>- Umpan siap pakai kalau kelembekan pakai katulampa,</p><br>
			<p>- Jangan lupa <p><h1>Kroto</h1></p>nya.</p><br><br><br><br>


			<b> <p>"Adapun Tips Untuk Menentukan Umpan Mancingnya"</p> </b><br><br><br>

			<p>Kita  harus jeli liat warna air dan juga umpan yang cocok dengan warna dan ph  air, itu tergantung keadaan kolam / lokasi tempat kita mancing, kalau penghujan  disarankan pake umpan amis, dan kalau panas pake umpan yang wangi.</p><br><br>

			<p>Kunci  1 kalau mau pakai umpan ikan mas, amis tidak bisa dicampur sama umpan wangi  intinya mau amis ya amis, kalau mau wangi wangi aja jangan dicampur.</p>


		</div>
	</div>
</div>