<div class="container-gallery1">
	<div class="gallery1">
	<h2>Soup </h2> <h1>Kroto</h1> <h2>Bernilai Gizi Tinggi</h2> <br> <br> <br>
		<div class="mainGallery1">
			<p> Mungkin bagi anda yang sudah mengetahui siapa saja yang paling sering membutuhkan semut rangrang atau <h1>kroto</h1> ini pasti sudah mengetahui market semut rangrang atau <h1>kroto</h1> ini, ya seperti para hobiis burung kicauan dan para hobiis ikan atau para mancing mania. 
			<br><br>

			Namun tahukah anda? kebutuhan untuk memenuhi market tersebut ternyata cukup besar jumlahnya. Di Jakarta saja membutuhkan 1,5 Ton <h1>kroto</h1> segar tiap harinya, bahkan negara Malaysia pun untuk memenuhi kebutuhan semut rangrang atau <h1>kroto</h1> ini mereka mengimpornya dari negara kita. Seperti pulau Kalimantan, Bali, Lombok, dan Sumbawa adalah wilayah penghasil <h1>kroto</h1> atau semut rangrang terbesar. Bahkan <h1>kroto</h1> ini sudah mulai dikonsumsi di Thailand, Filipina, sebagai Soup Bernilai Gizi Tinggi karena banyaknya protein yang terkandung dalam tiap butir kroto yang ada.
			<br><br>

			"di Thailand Kami di sini menyebutnya Khai Mot Dang. Ini sarang semut biasa dimakan orang Isan. Kalau sudah di Bangkok, makanan ini jauh lebih mahal," kata Tom, pemandu tur lokal acara AEC Media Fam Trip Thailand Connect.</p>
		</div>
	</div>
</div>