<div id="myCarousel" class="carousel slide" data-ride="carousel">    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../img/1.jpg" alt="Kroto Sumber Rejeki">
        <div class="tittle">
          <h2>Kami Menyediakan Kualitas </h2><h1>Kroto</h1><h2> Super Terbaik.</h2>
        </div>
      </div>

      <div class="item">
        <img src="../img/2.jpg" alt="Chicago">
        <div class="tittle">
          <h2>Pemberian Makan Ulet Jepang dan Gula Membuat </h2><h1>Kroto</h1><h2> Kaya Protein Tinggi dan Kualitas seperti Hasil Alam.</h2>
        </div>
      </div>
    
      <div class="item">
        <img src="../img/3.jpg" alt="New york">
        <div class="tittle">
          <h2>Ada 2 Kualitas yang Kami Tawarkan: <br> </h2><h1>Kroto</h1><h2> Super Terbaik Tanpa Semut dan </h2><h1>Kroto</h1><h2> Super Dengan Semut.</h2>
        </div>      
      </div>

      <div class="item">
        <img src="../img/4.jpg" alt="Empat">
        <div class="tittle">
          <h2>Kami Terus Pelajari dan Bereksperimen pada Semut dan Hasil </h2><h1>Kroto</h1><h2> untuk Mendapatkan </h2><h1>Kroto</h1><h2> Terbaik.</h2>
        </div>
      </div>

      <div class="item">
        <img src="../img/5.jpg" alt="Lima">
        <div class="tittle">
          <h2>Packing yang Higienis dan Efisien Membuat Produk Kami Menjadi yang Terbaik.</h2>
        </div>
      </div>

      <div class="item">
        <img src="../img/article.jpg" alt="Enam">
        <div class="tittle">
          <h2>**tidak untuk ditampilkan note sendiri</h2>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left "></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
  <div class="container-fluid">  
    <div class="gallery col-sm-3 col-md-4">
      <img src="../img/gallery1.jpg" alt="Gallery1" style="width:100%; height:275px;">
      <div class="galleryTittle galleryTittle1">
        <a href="/PerluatauTidakKrotountukBurungKicau" target="_blank"><p>Perlu atau Tidak <br> <h1>Kroto</h1> untuk Burung Kicau</p></a>
      </div>
    </div>

    <div class="gallery col-sm-3 col-md-4">
      <img src="../img/gallery2.jpg" alt="Gallery2" style="width:100%; height:275px;">
      <div class="galleryTittle galleryTittle1">
        <a href="/CaraMembuatUmpanMancingDariKroto" target="_blank"><p>Cara Membuat <br> Umpan Mancing Dari <h1>Kroto</h1></p></a>
      </div>
    </div>

    <div class="gallery col-sm-3 col-md-4">
      <img src="../img/gallery3.jpg" alt="Gallery3" style="width:100%; height:275px;">
      <div class="galleryTittle galleryTittle1">
        <a href="/SoupKrotoBernilaiGiziTinggi" target="_blank"><p>Soup <h1>Kroto</h1> <br> Bernilai Gizi Tinggi</p></a>
      </div>
    </div>

    <div class="gallery col-sm-3 col-md-4">
      <img src="../img/gallery4.jpg" alt="Gallery4" style="width:100%; height:275px;">
      <div class="galleryTittle galleryTittle1">
        <a href="/KrotoUntukBahanKosmetikdanObatHerbal" target="_blank"><p><h1>Kroto</h1> <br> Untuk Bahan Kosmetik dan Obat Herbal </p></a>
      </div>
    </div>

    <div class="gallery col-sm-3 col-md-4">
      <img src="../img/gallery5.jpg" alt="Gallery5" style="width:100%; height:275px;">
      <div class="galleryTittle">
        <a href="/contactus" class="keterangan" target="_blank">
        <div class="nama">Kroto dengan Semut 50 gram</div>
        <div class="harga">IDR 40.000,-</div>
        <div class="asal">made in Yogyakarta</div>
        </a>
      </div>
    </div>

    <div class="gallery col-sm-3 col-md-4">
      <img src="../img/gallery6.jpg" alt="Gallery6" style="width:100%; height:275px;">
      <div class="galleryTittle">
        <a href="/contactus" class="keterangan" target="_blank">
        <div class="nama">Kroto Kering 105 gram</div>
        <div class="harga">IDR 110.000,-</div>
        <div class="asal">made in Yogyakarta</div>
        </a>
      </div>
    </div>  
  </div>
</div>


