<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> --}}
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Mono|Source+Code+Pro" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/logo.png">
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  
</head>
<body>

  <div class="row">
  <div class="mainnavbar">
    <div class="logo"><a href="/"><img src="/img/logo.png" alt="logo"></a></div>
      <ul id="listMenu">
        <li><a href="/" id="home">HOME</a></li>
        <li><a href="#" id="gallery">GALLERY</a></li>
        <li><a href="#" id="contact">CONTACT US</a></li>
      </ul>
      </div>
    </div>

  {{{body}}}

  <div class="row">
    <div class="homecontact">
    <div class="wraphomecontact">
      <div class="contactaddress">
        CV. Kroto Sumber Rezeki <br> Sinom Rt.02/05 Kedungpoh, Ngelipar, Gunung Kidul<br> Yogyakarta - 55852 <br> +6221-5678900
      </div>
      <div class="copyright">
        by WB Design @2018 | <a href="/">PRIVACY POLICY</a> 
      </div>
      <div class="contactmedsos">
            <div class="sosmed">
                        <div class="wrapfb">    
                            <div class="fb">
                                <a href="https://www.facebook.com/kroto.sumberrejeki" target="_blank"><img src="/../img/fb.png" alt="www.facebook.com" style="width:30px;height:30px;"></a>
                            </div>
                        </div>
                        <div class="wrapig">
                            <div class="ig">
                                <a href="https://www.instagram.com/krotosumberrejeki/?hl=id" target="_blank"><img src="/../img/ig.png" alt="www.instagram.com" style="width:30px;height:30px;"></a>
                            </div>
                        </div>
                    </div>
      </div>
      <div class="buttonhome">
        <a href="/"><img src="/../img/home.png" alt="home"></a>
      </div>
    </div>
    </div>

    <div id="map"></div>
  </div>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5nyuAX1B-wS90SM3PygQCn45cXSECwkw&callback=initMap"></script>
	<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
